---
title: About Me
layout: default
---
{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ABOUT ME</h2>
</div>
<p>本人是来自弱省SD弱校SLYZ的一枚蒟蒻xMinh</p>   

<p>资深段子手 曾是非著名作家(从不填坑)</p>  

<p>现在不务正业 沉迷搞OI不能自拔 日渐消瘦</p> 

<p>喜爱体育运动(然而并没有什么运动天赋) 支持马刺/尤文图斯</p> 

<p>日常机房颓废是听歌 无限循环姆爷/魔力红/烟鬼/霉霉/比伯/猹/酷玩</p>

<p>偶尔听听国内电音 安利一下徐梦圆</p> 

<p>苦练数年吉他 但好像在应试教育的沃土上没有施展之地</p>

<p>电影发烧友 克里斯托弗·诺兰/莱昂纳多·迪卡普里奥/艾玛·沃特森/约翰尼·德普的小迷弟</p>

<p>文学作品的话尤为爱好科幻 大刘(《三体》刘慈欣)铁粉</p>   

<p>悬疑作品也是我的菜 最爱东野 但对其它日系作家基本无感</p>   

<p>柯南道尔或者阿加莎什么的就不多说了 推荐一下钱德勒的硬汉派(前提是你像我一样喜欢装逼/说骚话)</p>

<p>说了这么多爱好 但毕竟还是算法博客</p>

<p>欢迎各位算法爱好者或者有相同爱好的dalao联系我邮箱xmzl20021@126.com</p>   

<p>我会立刻给各位加上友链的</p>

<p>就这样</p>

    
{% include footer.html %}
