---
title: About Me
layout: default
---
{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ABOUT ME</h2>
</div>
<p><center> <img src="https://github.com/xMinh/xMinh.github.io/blob/master/pic/%E5%9B%BE%E7%89%871.jpg?raw=true" alt="" /> </center></p> 

<p><center>由于觉得直接写字比较突兀，就上了一张asia给的图(尽管我也不知道是什么番)</center></p> 

<p><center>本人是来自弱省SD弱校SLYZ的一枚蒟蒻xMinh</center></p>   

<p><center>资深段子手 曾是非著名作家(从不填坑)</center></p>  

<p><center>现在不务正业 沉迷搞OI不能自拔 日渐消瘦</center></p> 

<p><center>喜爱体育运动(然而并没有什么运动天赋) 支持马刺/尤文图斯</center></p> 

<p><center>日常机房颓废是听歌 无限循环姆爷/魔力红/烟鬼/霉霉/比伯/猹/酷玩</center></p>

<p><center>偶尔听听国内电音 安利一下徐梦圆</center></p> 

<p><center>苦练数年吉他 但好像在应试教育的沃土上没有施展之地</center></p>

<p><center>电影发烧友 克里斯托弗·诺兰/莱昂纳多·迪卡普里奥/艾玛·沃特森/约翰尼·德普的小迷弟</center></p>

<p><center>文学作品的话尤为爱好科幻 大刘(《三体》刘慈欣)铁粉</center></p>   

<p><center>悬疑作品也是我的菜 最爱东野 但对其它日系作家基本无感</center></p>   

<p><center>柯南道尔或者阿加莎什么的就不多说了 推荐一下钱德勒的硬汉派(前提是你像我一样喜欢装逼/说骚话)</center></p>

<p><center>说了这么多爱好 但毕竟还是算法博客</center></p>

<p><center>欢迎各位算法爱好者或者有相同爱好的dalao联系我邮箱xmzl20021@126.com</center></p>   

<p><center>我会立刻给各位加上友链的</center></p>

<p><center>就这样</center></p>

    
{% include footer.html %}
