---
title: Links
layout: default
---
{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>LINKS</h2>
</div>
  </header>

  <div class="post-content visible">
    
    <h2 class="post-subtitle">%%%各位战友%%%</h2>
    <article class="markdown-body">
        
<p><a href="https://www.cansult.ga/">【全程OK】Cansult/宽嫂</a></p>

<p><a href="http://www.cnblogs.com/refun/">【fAKe】<del>Re</del><font color="#ed9f21">Au</font>fun/褚队/扫黄打非办副主任</a></p>

<p><a href="https://mhrlovezmy.coding.me/">【RSYJ】AH/坂本/马独秀</a></p>

<p><a href="https://43471.blog.luogu.org/">【AC自动机】生蚝/Captain_Paul</a></p>

<p><a href="http://blog.csdn.net/qq_33346538">【自招rk1】杨佬/Ration</a></p>

<p><a href="http://www.cnblogs.com/victorique/">【真皮沙发】Asia/GameKing/神/德扑能赢话费</a></p>

<p><a href="http://www.cnblogs.com/zzzyc/">【玩的好的都是姐】zzzyc/Politically Free City</a></p>

<p><a href="http://blog.csdn.net/A_Comme_Amour">【学术】大哥/BigBro/A_Comme_Amour</a></p>

<p><a href="https://a-failure.github.io/">【人形自走OJ】家梁/DieSheep/GayGod</a></p>

<p><a href="https://beretty.github.io/">【钢琴诗人】夫哥/beretty/Deus</a></p>

<p><a href="https://blog.csdn.net/Slr2002">【D市扛把子】昊哥/社会人/Slr</a></p>
        
<p><a href="https://garystack.github.io">【无极建圣】氪舰/绿太阳/GaryStack</a></p>
        
<p><a href="https://milky-w.github.io">【坠强女选手】Milky Way/Fym</a></p>
        
<p><a href="https://www.luogu.org/blog/user22136/">【后浪拍死前浪】Dsq/qwaszx/神级学弟</a></p>
       
   </article>
        
        <h2 class="post-subtitle">%%%神犇们%%%</h2>
        <article class="markdown-body">
        
 <p><a href="http://hzwer.com">【黄学长】hzwer</a></p>
         
 <p><a href="https://www.cnblogs.com/cjyyb/">【刺密巨佬】yyb</a></p>
 
 <p><a href="http://www.yhzq-blog.cc">【曲神】yhzq</a></p>
        
 <p><a href="https://blog.csdn.net/Clove_unique">【教科书级学姐】zyf2000</a></p>
        
    </article>
{% include footer.html %}

