---
title: Mod
layout: default
---
{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>MOD</h2>
</div>
  </header>

  <div class="post-content visible">
    
    <h2 class="post-subtitle">Do you want any POWER?</h2>
    <article class="markdown-body">

</script>
	  
	 迷茫的少年啊，你渴望Au爷的力量吗？
	<p><center><a href="https://a-failure.github.io/portfolio/indexx.html"><img src="https://raw.githubusercontent.com/A-Failure/A-Failure.github.io/master/img/0.jpg" width="655" height="206" border="0"></a></center></p>

{% include footer.html %}
